@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.cardC {
            padding: 1rem;
            border: 1px solid black;
            margin: 1rem;
            background-color:"$purple-400";
            
        }
.title{
            font-size: 2rem;
            margin-left: 20px;
            font-weight: bold;
            color: green;
            text-decoration: underline;
        }
.state{
    color: red;
    font-weight:bold;
}
.today{
    font-size: 7px;
}
.graph{
    color: blue;
    font-weight: bold;
    font-size: 30px;
}
.moreinfo{
    color: black;
}

.rateL{
    color: red;
}
.rateH{
    color: green;
}
.icon{
    color: black;
}

.tranddown{
    color: red;
}
.trandup{
    color:green;
}
.logo{
    color: green;
    transform: scale(2);
}
.header{
 background-image: linear-gradient(to right, #ff9933, #ff9c7c, #ffadb9, #ffc7e7, #ffe2fe, #f0ecff, #e9f4ff, #eef9ff, #d1f9ff, #affaff, #88fbff, #5ffbf1);
}