@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;
}
.cardC {
            padding: 1rem;
            border: 1px solid black;
            margin: 1rem;
            background-color:"$purple-400";
            
        }
.title{
            font-size: 2rem;
            margin-left: 20px;
            font-weight: bold;
            color:blue;
        }
.state{
    color: red;
    font-weight:bold;
}
.today{
    font-size: 7px;
}
.graph{
    color: blue;
    font-weight: bold;
    font-size: 30px;
}
.moreinfo{
    color: black;
}

.rateL{
    color: red;
}
.rateH{
    color: green;
}
.icon{
    color: black;
}

.tranddown{
    color: red;
}
.trandup{
    color:green;
}
.logo{
    color: gray;
    transform: scale(2);
}
.header{
 background-image: linear-gradient(to right, #ff9933, #cf9900, #9c9700, #659100, #138808);
}

.confirm{
    color: red;
}
.active2{
  color: blue;  
}
.recovered{
    color: green;
}
.deaths{
    color: gray;
}
